body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    text-decoration: none;
    color: #fff;
}
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

#about {
    padding: 50px;
}

.about-content {
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.cta-button {
    position: absolute ;
    right: 380px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #3498db;
    text-decoration: none;
    border-radius: 5px;
}