body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Light background color */
    color: white;
}

header {
    background-color: #3498db;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input, textarea {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
footer {
    background-color: #3498db; /* Blue footer background */
    color: #fff;
    text-align: center;
    padding: 10px;
    position: static;
    bottom: 0;
    width: 100%;
}
.cta-button {
    position: absolute ;
    right: 400px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #3498db;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
}