body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Light background color */
    color: white;

}
header {
    background-color: #3498db;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}
#product-details {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.product-image img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.product-info {
    flex-grow: 1;
    padding: 20px;
    background-color: #ffffff; /* Blue section background */
    border-radius: 8px;
}

h2 {
    color: #333; /* White header text color */
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

.price {
    font-size: 1.5em;
    color: #333;
    margin-top: 10px;
}

button {
    background-color: #3498db; /* Blue button color */
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
        background-color: #2980b9;} /* Slightly darker shade on hover */





footer {
    background-color: #3498db; /* Blue footer background */
    color: #fff;
    text-align: center;
    padding: 10px;
    position: static;
    bottom: 0;
    width: 100%;
}
.cta-button {
    position: absolute ;
    right: 400px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #3498db;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
}
.product-info li {
color: #333;
}
.product-info p {
    color: #333;
}
#sidebar{
    height:100%;
    width:0;
    position: fixed;
    top:0;
    right:0;
    background-color: black;
    color:beige;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
#sidebar a{
    padding: 16px;
    color: beige;
    text-decoration: none;
    font-size: 20px;
    display: block;
    transition: 0.3s;
    text-align: center;
}
#selectedItem{
    padding: 20px;
    font-size: 18px;
    text-align: center;
}
#totalDisplay{
    padding: 20px;
    font-size: 18px;
    text-align: center;
}
footer {
    background-color: #3498db; /* Blue footer background */
    color: #fff;
    text-align: center;
    padding: 10px;
    position: static;
    bottom: 0;
    width: 100%;
}
.cta-button {
    position: absolute ;
    right: 400px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #3498db;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
}